# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# Where and how to store data.
storage:
  dbPath: "{{ MONGODB_DB_PATH }}"
  journal:
    enabled: true
#  engine:
#  mmapv1:
#  wiredTiger:

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: "{{ MONGODB_LOG_PATH }}/{{ MONGODB_LOG_FILE }}"

# network interfaces
net:
  port: "{{ PORT }}"
  bindIp: "{{ BIND_IP }}"

#processManagement:

#security:

#operationProfiling:

#replication:

#sharding:

## Enterprise-Only Options:

#auditLog:

#snmp:
