#!/bin/sh
### BEGIN INIT INFO
# Provides:          {{ SERVICE_NAME }} 
# Required-Start:    $local_fs $network $named $time $syslog
# Required-Stop:     $local_fs $network $named $time $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Description:       {{ SERVICE_DESCRIPTION }}
### END INIT INFO

SCRIPT='{{ COMMAND_NAME }}' 
RUNAS={{ USER }} 

PIDFILE={{ PID_FILE_LOC }}/{{ SERVICE_NAME }}.pid
LOGFILE=/dev/null 

start() {
  if [ -f "$PIDFILE" ] && kill -0 $(cat "$PIDFILE"); then
    exit 1 
  fi
  local CMD="$SCRIPT &> \"$LOGFILE\" & echo \$!"
  su -c "$CMD" $RUNAS > "$PIDFILE"
  exit 0
}

stop() {
  if [ ! -f "$PIDFILE" ] || ! kill -0 $(cat "$PIDFILE"); then
    exit 7
  fi
  kill -15 $(cat "$PIDFILE") && rm -f "$PIDFILE"
  exit 0
}

uninstall() {
  echo -n "Are you really sure you want to uninstall this service? That cannot be undone. [yes|No] "
  local SURE
  read SURE
  if [ "$SURE" = "yes" ]; then
    stop
    rm -f "$PIDFILE"
    echo "Notice: log file is not be removed: '$LOGFILE'" >&2
    update-rc.d -f <NAME> remove
    rm -fv "$0"
  fi
}

status() {
  if [ ! -f "$PIDFILE" ] || ! kill -0 $(cat "$PIDFILE"); then
    exit 3
  fi
  exit 0
}

case "$1" in
  start)
    start
    ;;
  stop)
    stop
    ;;
  uninstall)
    uninstall
    ;;
  retart)
    stop
    start
    ;;
   status)
     status
     ;;
  *)
    echo "Usage: $0 {start|stop|restart|uninstall|status}"
esac

