BASE_INPUT_DIR={{ BASE_INPUT_DIR }}
CONFIG_PATH={{ CONFIG_PATH }}
VIEWS_TO_PROCESS={{ VIEWS_TO_PROCESS }}
REDIS_HOST={{ REDIS_HOST }}
REDIS_PORT={{ REDIS_PORT }}
PROCESSED_DIR={{ PROCESSED_DIR }}
ERROR_DIR={{ ERROR_DIR }}
